[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/ethanwalker08/neovim.git
[submodule "zsh_custom/plugins/zsh-autosuggestions"]
	path = zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
